OPENAI_API_KEY=your_openai_api_key_here
YOUTUBE_API_KEY=your_youtube_api_key_here
DATABASE_URL=postgresql://root:root@localhost:5432/oracle_ai


# Next.js
NEXTAUTH_SECRET="your_jwt_secret_key_here_make_it_long_and_random"
NEXTAUTH_URL="http://localhost:3000"
